html,
body {
  margin: 0;
  padding: 0;
}

#canvas {
  display: flex;
}

#canvas > div {
  flex: 1;
}
#canvas > div > h1 {
  margin-left: 20px;
}

#mainCanvas {
  border: 2px solid black;
  margin: 20px;
  height: 500px;
}

#coCanvas {
  border: 2px solid red;
  margin: 20px;
  height: 500px;
}

.action_menu {
  margin-left: 20px;
}
